{% extends "header_footer.html" %}
{% block body %}

{% if status %}
<script>
    alert("{{status}}");
</script>
{% endif%}
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-md-12 text-center p-5" style="background: url('/static/images/background.jpg');">
            <h1>Contact Us</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto p-5 alert alert-dark my-5">
            {% if message %}
            <p class="alert alert-success">{{message}}</p>
            {% endif %}
            <form action="" method="post">
                {% csrf_token %}
                
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter Name" name="name">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Enter Email Address" name="email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter Subject" name="subject">
                </div>
                <div class="form-group">
                    <textarea name="message" rows="5" class="form-control" placeholder="Enter Message Here..."></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="SEND MESSAGE" class="btn btn-success">
                </div>
            </form>
        </div>

        <div class="col-md-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.056119526838!2d76.69247175024144!3d30.71682269336113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fee5a42944be3%3A0xb713d3a3e26a89c1!2sSachTech%20Solution%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1632115264802!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>

        <div class="col-md-12">
            <h1 class="my-5 text-center">Previous Feedbacks ({{fbs|length}}) </h1>
            
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Subject</th>
                        <th>Message</th>
                        <th>Submitted On</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in fbs %}
                        <tr>
                            <td>{{i.id}}</td>
                            <td>{{i.name}}</td>
                            <td>{{i.email}}</td>
                            <td>{{i.subject}}</td>
                            <td>{{i.message}}</td>
                            <td>{{i.added_on}}</td>
                            <td><a href="?id={{i.id}}" class="btn btn-danger btn-sm">Delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>  
</div>
{% endblock %}