<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyWebsite</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid fixed-top">
        <div class="row">
            <div class="col-md-12 px-0">
                <nav class="nav bg-dark navbar-dark navbar-expand">
                    <a href="{% url 'home' %}" class="navbar-brand">MyWeb</a>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{% url 'home' %}" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'contact' %}" class="nav-link">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'admin:index' %}" class="nav-link">Admin</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    {% block body %}{% endblock %}
    <div class="container-fluid bg-dark text-light text-center">
        <div class="row">
            <div class="col-md-12">
                <h4>MyWebsite </h4>
                &copy;.2021 All rights reserved
            </div>
        </div>
    </div>
</body>
</html>