{% extends "header_footer.html" %}
{% load static %}
{% block body %}
<h1 class="text-danger text-center mt-5">Lorem Ipsum</h1>
    <img src="{% static 'images/background.jpg' %}" style="height: 300px;width: 100%;">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, sit omnis ullam fuga ad expedita, accusantium veniam cumque dolore quasi cum error? Nihil corrupti, nemo error incidunt blanditiis mollitia excepturi!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, sit omnis ullam fuga ad expedita, accusantium veniam cumque dolore quasi cum error? Nihil corrupti, nemo error incidunt blanditiis mollitia excepturi!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, sit omnis ullam fuga ad expedita, accusantium veniam cumque dolore quasi cum error? Nihil corrupti, nemo error incidunt blanditiis mollitia excepturi!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, sit omnis ullam fuga ad expedita, accusantium veniam cumque dolore quasi cum error? Nihil corrupti, nemo error incidunt blanditiis mollitia excepturi!
    </p>
    <img src="/static/images/pizza.gif" height="300">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, sit omnis ullam fuga ad expedita, accusantium veniam cumque dolore quasi cum error? Nihil corrupti, nemo error incidunt blanditiis mollitia excepturi!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, sit omnis ullam fuga ad expedita, accusantium veniam cumque dolore quasi cum error? Nihil corrupti, nemo error incidunt blanditiis mollitia excepturi!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, sit omnis ullam fuga ad expedita, accusantium veniam cumque dolore quasi cum error? Nihil corrupti, nemo error incidunt blanditiis mollitia excepturi!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, sit omnis ullam fuga ad expedita, accusantium veniam cumque dolore quasi cum error? Nihil corrupti, nemo error incidunt blanditiis mollitia excepturi!
    </p>
    <ol>
        <li>List Item</li>
        <li>List Item</li>
        <li>List Item</li>
        <li>List Item</li>
        <li>List Item</li>
    </ol>
{% endblock %}


